# Supabase Database URL (PostgreSQL Connection String from Supabase Settings -> Database)
DATABASE_URL=postgresql://postgres.xreebpmibnbttuhevall:MonislovesBiryani37@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres

# Team Admin Passcode (Default is 'admin' unless set here)
ADMIN_PASSWORD=admin
